body{
	
}

.bkg-header{
	background-image: url('../images/bg.jpeg');
	background-size: cover;
	height:  400px;
	max-height: 350px;
}

.titulo-header{
	text-align: center;
	color: #FFFFFF;
}

.jumbotron.bkg-header {
    margin-top: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
.parrafo-header{
	color: #FFFFFF;
	text-align: center;
	font-size: 13px !important;
	margin-top: 20px; 
}
.titular-container{
	text-align: center;
}
.parrafo-container{
	text-align: center;
}

.navbar{
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}
.navbar li{
	color: #000;
}
.parrafo-footer{
	font-size: 14px !important;
}
.logo{
	width: 140px;
}
.jumbotron{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.jumbo-footer{
	background-color: #1C1C1C;
}
.titular-footer{
	color: #FFFFFF;
	padding: 20px 0px;
}
