body{
	
}

.bkg-header{
	background-image: url('../images/bg.jpeg');
	background-size: cover;
	height:  400px;
	max-height: 400px;
}

.titulo-header{
	text-align: center;
	color: #FFFFFF;
}

.jumbotron.bkg-header {
    margin-top: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
p.parrafo-header{
	font-size: 13px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 20px; 
}
.titular-container{
	text-align: center;
}
.parrafo-container{
	text-align: center;
}

.navbar{
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}
.navbar li{
	color: #000;
}
p.parrafo-footer{
	font-size: 14px;
}
.logo{
	width: 140px;
}
.jumbotron{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.jumbo-footer{
	background-color: #1C1C1C;
}
.titular-footer{
	color: #FFFFFF;
	padding: 20px 0px;
}
.navbar-nav {
    margin: 7.5px -15px;
    float: right;
    display: inline-flex;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a{
	color: #ffffff;
}
input {
    padding: 4px;
    border-radius: 2px;
    border: 1px solid #b9b6b6;
}